services:
    db:
        image: postgres
        restart: always
        shm_size: 128mb
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: orders_management
        ports:
            - "5432:5432"

    db_test:
        image: postgres
        restart: always
        shm_size: 128mb
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: orders_management_test
        ports:
            - "5433:5432"

    adminer:
        image: adminer
        restart: always
        ports:
            - "8080:8080"
